.banner{
    width: 100%;
    height: 100vh;
    background: url("../imgs/MainBanner2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-color:rgb(230, 230, 230,0.5);
    position: relative;
    color:brown;
    font-size: 32px;
}

.banner div{
    position: absolute;
    top:40vh;
    left:5%;
    text-shadow: 4px 4px 4px #fff;
}

.banner-text{
    opacity: 0;
}

@media screen and (max-width:480px){
    .banner{
        height: 50vh;
        background-size:100% 50vh;
    }
    .banner div{
        top:20vh;
    }
    .banner h1{
      font-size: 25px;
    }
    .banner p{
        font-size: 18px;
      }
}