@import url(banner.css);
@import url(product.css);
@import url(menu.css);
@import url(catalog.css);
@import url(card.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-bottom: 20px;
}

header{
    position: fixed;
    top:0;
    z-index: 102;
}

.subtitle{
    font-size: 2rem;
}

.subtitle{
    font-size: 30px;
}

footer{
    margin-bottom: 5px;
    font-size:25px;
    width: 100%;
    margin-top: 5px;
}
.foot{
    color: brown;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    width: 90%;
    margin:auto;
    justify-content: center
}

.foot div{
    padding: 3px;
}

@media screen and (max-width:720px){
    .subtitle{
        font-size: 20px;
    }
    .title{
        font-size: 1.5rem;
        margin-top: 10px !important;
    }
}

@media screen and (max-width:480px){
    footer{
        font-size:12px;
    }
    .foot{
        text-align: left;
        justify-content: right;
    }
}